.main-container {
    text-align: center;
    padding: 50px 20px;
}

.pizza__title {
    font-size: 2rem;
    font-weight: bold;
}

.pizza__title__yellow {
    font-size: 2rem;
    font-weight: bold;
    color: #f1c40f;
    margin-bottom: 20px;
}

.welcome__text {
    margin-bottom: 10px;
    font-weight: 500;
}

.menu__link__container {
    margin-top: 50px;
}

.menu__link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    background-color: #f1c40f;
    padding: 5px 40px;
    border-radius: 5px;
}